
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');body {
    background-color: #040616;
    font-family: 'Roboto', sans-serif;

}
main {
    color: rgba(255, 255, 255, 0.881);
    padding: 30px ;
}
.JSuspense-wraper  .content {
    visibility: hidden;
    z-index: 1;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -100% 0
    }
    
    100%{
        background-position: 1000% 0
    }
}
img {
    width: 100%;
    height: fit-content;
    border-radius: 17px;
}

.JSuspense-wraper {
    z-index: 100;
    border-radius: 7px;
    height: fit-content !important;
    width: fit-content !important;
    animation-duration: 10s;
    animation-name: placeHolderShimmer;
    background: #f6f7f8;
    background: linear-gradient(to right, #060c3887 8%, #16267e87 18%, #020a3b87 33%);
    background-size: 800px 104px;
    backdrop-filter: blur(14px);
    height: 96px;
    position: relative;
    mask-clip:inherit;
    margin-top: 20px;
    animation-iteration-count:infinite;
    animation-fill-mode:both;
    animation-timing-function: linear;



}
.JSuspense-wraper .loaded {       
    visibility: visible;
}
