
body {
    background-color: #040616;
    mix-blend-mode: difference !important;
}
main {
    color: rgba(255, 255, 255, 0.881);
    padding: 30px ;
}
.JSuspense-wraper  .content {
    visibility: hidden;
    z-index: 1;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
img {
    width: 100%;
    height: fit-content;
    border-radius: 17px;
}

.JSuspense-wraper {
    z-index: 100;
    border-radius: 7px;
    height: fit-content !important;
    width: fit-content !important;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    backdrop-filter: blur(14px);
    height: 96px;
    position: relative;
    mask-clip:inherit
}
.JSuspense-wraper .loaded {       
    visibility: visible;
}

.sponsered {
    position: fixed;
    margin: 10px;
    top: 0;
    right: 10px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.sponsered a {
    margin-left: 5px;
    color: white;

}
.npmLink {
    position: fixed;
    margin: 10px;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.repogithub   {
    position: fixed;
    margin: 10px;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.repogithub img  ,.npmLink img{
    width: 40px;
    height: 40px;
    mix-blend-mode: difference !important;
}