
.sponsered {
    position: fixed;
    margin: 10px;
    top: 0;
    right: 10px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.sponsered a {
    margin-left: 5px;
    color: white;

}
.npmLink {
    position: fixed;
    margin: 10px;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 9999 !important;

}
.repogithub   {
    position: fixed;
    margin: 10px;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 9999 !important;
}
.repogithub img  , .npmLink img{
    width: 40px;
    height: 40px;
}
.center {
    text-align: center;
    
}
.center h1 {
    font-size: 60px;
    font-weight: 900;
}
.center p  {
    background-color: #0c134487;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    color: white !important;
}
 .center a {
    color: white !important;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
}